section.about
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellendus est vitae fugit. Optio repellat ut eaque dicta rerum doloremque. Labore ad debitis omnis velit praesentium beatae laudantium nemo, temporibus.
    
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias consectetur iste neque, ex reprehenderit velit doloremque consequuntur nesciunt inventore, suscipit, harum illum necessitatibus. Nihil perspiciatis modi esse, ratione neque quam.

section.youtube
  .flex.flex--space-around
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellendus est vitae fugit. Optio repellat ut eaque dicta rerum doloremque. Labore ad debitis omnis velit praesentium beatae laudantium nemo, temporibus.
    
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias consectetur iste neque, ex reprehenderit velit doloremque consequuntur nesciunt inventore, suscipit, harum illum necessitatibus. Nihil perspiciatis modi esse, ratione neque quam.

section.youtube
  .flex.flex--center
    .col-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellendus est vitae fugit. Optio repellat ut eaque dicta rerum doloremque. Labore ad debitis omnis velit praesentium beatae laudantium nemo, temporibus.

section.youtube
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellendus est vitae fugit. Optio repellat ut eaque dicta rerum doloremque. Labore ad debitis omnis velit praesentium beatae laudantium nemo, temporibus.

    .col-50
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellendus est vitae fugit. Optio repellat ut eaque dicta rerum doloremque. Labore ad debitis omnis velit praesentium beatae laudantium nemo, temporibus.